
/* /////////////////// TABLE CONTAINER///////////// */
.table-container{
  display: flex;
  flex-direction: column;
  gap:10px;
  justify-content: center;
  padding: 0 1rem;
}

/*  TABLE */
.table {
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {

  text-align: center;

}

.table tr:nth-child(even) {
  background-color: #bbbed1;
}

.table tr:hover {
  background-color: #ddd;
}

.table td {
  text-align: center;
}

.table th.sorted-column,
.table td.sorted-column {
   background-color: rgba(255, 251, 251, 0.959);
}

/*   SORT ICON  */
.sort-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px; 
  margin-left: 5px; 
  color: gray;
  cursor: pointer;
}

.sort-icon .up-arrow,
.sort-icon .down-arrow {
  display: block;
}

.sort-icon .up-arrow {
  margin-bottom: -0.2em; 
}

.sort-icon .down-arrow {
  margin-top: -0.2em; 
}

.sort-icon.sorted-asc .down-arrow,
.sort-icon.sorted-desc .up-arrow {
  display: none;
}

.sort-icon.sorted-asc,
.sort-icon.sorted-desc {
  color: black;
}



/* /////////////////// HEADER FUNCTIONS///////////// */
.headerFunctions{
  display: flex;
  justify-content: space-between;
  gap: 10px;

}


/*  SELECTOR */
.selector-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


/*  SEARCH BAR */
.searchBar-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}



/* /////////////////// FOOTER FUNCTIONS///////////// */
.footerFunctions{
  display: flex;
  justify-content: space-between;

}


/*  PAGINATION */
.pagination {
  display: flex;
  align-items: center;
}

.pages {
  display: inline-flex;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 2px; /* Adjust the margin to fit the design */
  border: 1px solid #ddd; /* Add border to make them more button-like */
  border-radius: 4px; /* Optional: add border radius for a smoother look */
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination button {
  border: none;
  padding: 8px 16px;
  background-color: inherit;
  cursor: pointer;
  margin: 0 2px; /* Adjust the margin to fit the design */
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}



