.table-container{
  display: flex;
  flex-direction: column;
  gap:10px;
  justify-content: center;
  padding: 0 1rem;
}

.table {
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #bbbed1;
}

.table td {
  text-align: center;
}

.headerFunctions{
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

.selector-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.searchBar-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footerFunctions{
  display: flex;
  justify-content: space-between;

}

.pagination{
  display: flex;
  
}
.pages{
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}